body {
  padding: 0;
  margin: 0;
}
#wrapper {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  background-color: #f3f3f3;
}
.quizzer-wrapper {
  font-family: arial, sans-serif;
  padding: 15px 0;
}
.quizzer-body {
  #q-submit {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 15px 45px;
    background-color: #b9a6ff;
    border: 1px solid #333;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      background-color: #ddd;
      border-color: #ddd;
    }
  }
  #quizzer-questions {
    .quizzer-q {
      margin: 10px 0;
      .q-opts-wrapper {
        margin-top: 5px;
        margin-left: 10px;
      }
      label {
        display: block;
      }
    }
  }
  .status {
    margin-left: 25px;
    &.error {
      color: #f00;
    }
    &.success {
      color: #058414;
    }
  }
}
.quizzer-head {
  h3 {
    text-align: center;
    margin: 10px 0;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    & > * {
      flex: 0 0 50%;
    }
    .right {
      text-align: right;
    }
  }
  .result {
    padding: 10px 0;
    text-align: center;
    background-color: rgb(124, 252, 73);
  }
}
